//colours
$teal: #009586;
$black: #2b2b2b;
$grey: #e2e2e2;
$white: #ffffff;

//fonts
$mainfont:'Mulish',
sans-serif;
$secondfont: 'Satisfy',
cursive;

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

body {

  background-color: #fff;
  font-family: $mainfont;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-transform: none;

}

a {

  color: $teal;
  font-size: 16px;
  font-family: $mainfont;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  clear: both;
  font-family: $mainfont;
}

h1,
h2 {
  line-height: 50px;
  font-family: $secondfont;
  font-weight: normal;

}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;

}

h3 {
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  color: $teal;
  font-size: 16px;
  font-family: $mainfont;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}

p {
  font-family: $mainfont;
  font-size: 13px;
  font-family: $mainfont;
  font-weight: 600;
  line-height: 21px;

}